Jai Aashapuri Maa
Jai Ambe Maa
Shree Ganeshaya Namah


<div class="container">
  <div class="row">    
   <div class="offset-md-3 col-md-6">

    <h1>Welcome!</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
     <div class="" style="margin-bottom: 20px">
      <label>Image</label>
      <input type="file" name="user_image">
      <button class="btn btn-primary">Upload!</button>
    </form>

    </div>
  </div> 
 </div>
</div> 


